.header {
  font-size: 2.3rem;
  font-family: "Roboto Condensed", sans-serif;
  margin-top: 20px;
  color: white;
  margin-left: 10px;
}
.subDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subDiv p {
  font-size: 1.1rem;
  margin-left: 10px;
}
.secondUrlIdDiv {
  height: auto;
  /* background-color: red; */
  width: 22%;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.thirdUrlIdDiv {
  height: auto;
  /* background-color: red; */
  width: 22%;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}
